/* * {
  margin: 0;
  padding: 0;
} */

.fancy-title {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.hero p.verse::before {
  content: "“";
}

.hero p.verse::after {
  content: "”";
}

.read-bible {
  min-height: 48vh;
}

header .logo {
  width: 25px;
  margin-right: 4px;
}

@media screen and (min-width: 1024px) {
  .hero p.verse {
    padding-inline: 10rem;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 4px 16px;
    margin-right: 16px;
    transition: background-color 0.3s ease-in-out;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
  }
  nav a:last-child {
    margin-right: 0;
  }
  nav a:hover,
  nav a.active {
    background-color: #00d1b2;
    color: #fff;
    border-radius: 3px;
  }
}

@media screen and (max-width: 1023px) {
  .columns {
    margin-inline-end: 0;
    margin-inline-start: 0;
    max-width: 100%;
  }
}
