/* * {
  margin: 0;
  padding: 0;
} */

.fancy-title {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.hero p.verse::before {
  content: "“";
}

.hero p.verse::after {
  content: "”";
}

@media screen and (min-width: 1024px) {
  .hero p.verse {
    padding-inline: 10rem;
  }
}

@media screen and (max-width: 1023px) {
  .columns {
    margin-inline-end: 0;
    margin-inline-start: 0;
    max-width: 100%;
  }
}
